:root,
body,
#app {
    height: 100%;
}

/* 如果要监听，记得加上这个属性 */
#app {
    overflow-y: scroll;
}

/* 头部样式 */
.header {
    display: flex;
    align-items: center;
    padding: 10px 18px 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
}

/* 头部搜索框样式 */
.header .search-input {
    margin-left: 22px;
    padding: 2px 10px;
    font-size: 10px;
    color: #999;
    width: 132px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 12px;
}

/* 搜索框中的单行文本溢出打点显示 */
.header .search-input span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 头部未登陆时展示的头像 */
.header .avatar svg {
    margin: 0 18px;
    border-radius: 50%;
}

/* 头部下载App样式 */
.header .download-app {
    background-color: #fb7299;
    padding: 0 10px;
    white-space: nowrap;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}

/* 导航区域样式 */
.nav-box {
    position: fixed;
    left: 0;
    top: 54px;
    font-size: 14px;
    color: #757575;
    width: 90%;
    overflow-x: scroll;
    text-align: center;
    z-index: 2;
    background-color: #fff;
}

/* 取消默认的滑轮效果 */
.nav-box::-webkit-scrollbar {
    display: none;
}

.nav-box .nav-list {
    padding-left: 20px;
    display: inline-flex;
}

.nav-box .nav-list .nav {
    width: 42px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.nav-box .down {
    position: fixed;
    right: 10px;
    top: 51px;
    padding: 9px 0;
    z-index: 2;
    background-color: #fff;
}

/* 点击下拉按钮后出现的导航栏 */
.hide-nav-box {
    position: fixed;
    top: -120px;
    color: #757575;
    font-size: 14px;
    background-color: #fff;
    transition: top .3s;
    padding-bottom: 125px;
    z-index: 2;
}

/* 当点击下拉按钮时，改变 top 值 */
.hide-nav-box.navShow {
    top: 54px;
}

.hide-nav-box .nav-list {
    line-height: 40px;
    height: 40px;
    padding: 0 5px 0 5px;
}

.hide-nav-box .up {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/* 处理 li 的公共样式 */
.nav-box .nav-list li,
.hide-nav-box .nav-list li {
    width: 50px;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

/* 为选中的 li 添加特殊的样式 */
.nav-box .nav-list li.active,
.hide-nav-box .nav-list li.active {
    color: #fb7299;
    border-color: #fb7299;
}

/* 轮播图样式 */
.banner-box {
    position: relative;
    top: 90px;
    width: 350px;
    height: 110px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    overflow: hidden;
}

.banner-box .banner-list {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(350px * 4);
}

.banner-box .banner-list .banner {
    float: left;
}

.banner-box .banner-list .banner img {
    width: 350px;
    height: 110px;
}

.banner-box .index-list {
    position: absolute;
    left: 50%;
    bottom: 3px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .5);
    padding: 0 4px;
    height: 10px;
    align-items: center;
    border-radius: 6px;
    display: flex;
}

.banner-box .index-list .index {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: #fff;
    margin: 0 3px;
}

.banner-box .index-list .index.active {
    background-color: #fb7299;
}

.video-box {
    padding: 100px 6px 0;
}

.video-box .video-list {
    overflow: hidden;
}

.video-box .video {
    float: left;
    width: 50%;
}

.video-box .video .poster {
    position: relative;
    height: 106px;
    overflow: hidden;
    margin: 0 6px;
    border-radius: 6px;
}

.video-box .video .poster img {
    width: 100%;
    height: 100%;
}

.video-box .video .poster .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    padding-top: 7px;
    padding-bottom: 3px;
    padding-left: 10px;
    color: #fff;
    font-size: 12px;
    background-image: linear-gradient(rgba(33, 33, 33, 0), rgba(33, 33, 33, .5))
}

.video-box .video .poster .info div {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.video-box .video .poster  svg {
    fill: #fff;
    margin-right: 3px;
    width: 14px;
    height: 14px;
}

/* 多行文本溢出打点，不过只能是 webkit 内核 */
.video-box .video .title {
    margin: 6px 6px 10px 6px;
    height: 38px;
    font-size: 10px;
    color: #212121;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 页脚样式 */
.footer {
    margin: 10px 0 40px;
    text-align: center;
    color: #999;
    font-size: 13px;
}

.footer p {
    margin-bottom: 20px;
}